@model IEnumerable<Clases.User>
@section Scripts
{
    <script>
        $('#datatable-editable').DataTable({ language: tableLang});
    </script>
}
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="panel">

    <div class="panel-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="m-b-30">
                <h4>Usuarios</h4>    
                </div>
            </div>
            <div class="col-sm-6">
                <div class="m-b-30 text-right">
                    <a id="addToTable" class="btn btn-primary waves-effect waves-light" href="@Url.Action("Create", "Usuarios")">Agregar <i class="fa fa-plus"></i></a>
                </div>
            </div>
        </div>

        <table class="table table-bordered table-striped" id="datatable-editable">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Mail)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.Password)
                        </th>*@
                    <th>
                        @Html.DisplayNameFor(model => model.Username)
                    </th>
                    @*<th>
                            @Html.DisplayNameFor(model => model.FirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.LastName)
                        </th>*@
                    <th style="text-align: center;">
                        @Html.DisplayNameFor(model => model.IsActive)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Mail)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.Password)
                            </td>*@
                        <td>
                            @Html.DisplayFor(modelItem => item.Username)
                        </td>
                        @*<td>
                                @Html.DisplayFor(modelItem => item.FirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.LastName)
                            </td>*@
                        <td style="text-align: center;">
                            @Html.DisplayFor(modelItem => item.IsActive)
                        </td>
                        <td>
                            <a href="@Url.Action("Edit", "Usuarios", new { id = item.Id })" class="on-default edit-row" title=" Editar Usuario"><i class="fa fa-pencil"></i></a>
                            @*<a href="@Url.Action("Details", "Usuarios", new { id = item.Id })" class="on-default edit-row" title=" Editar Usuario"><i class="fa fa-pencil"></i></a>*@
                            @*<a href="@Url.Action("Delete", "Usuarios", new { id = item.Id })" class="on-default remove-row" title=" Borrar Usuario"><i class="fa fa-trash-o"></i></a>*@
                        </td>
                    </tr>
                }
            </tbody>
        </table>

    </div>
    <!-- end: page -->

</div>


